#layer1 > .line {
    fill: none;
    stroke: #643e04;
    stroke-width: 3;
}

#layer2 > .line {
    fill: none;
    stroke: rgb(255, 0, 128);
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */

#layer1 > .dot {
    fill: rgb(179, 175, 142);
    stroke: rgb(184, 184, 184);
}

#layer2 > .dot {
    fill: rgb(250, 139, 250);
    stroke: rgb(255, 255, 255);
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

